@tailwind base;
@tailwind components;

/*.btn {*/
/*  @apply font-bold py-2 px-4 rounded;*/
/*}*/
@layer base {
  :root {
    --trello-color: #007AC0;
    --jira-color: #0052CC;
    --toggle-color: #E57CD8;
    --green-success: #48bb78;
    --play-color: #CCEFE6;
    --play-hover-color: #38a169;
    --stop-color: #FF7C7C;
    --stop-hover-color: #E85C5C;
    --border-radius: 15px;
  }
  .font-text-roboto-mono {
    font-family: 'Roboto Mono', monospace;
  }
  body {
    font-family: Roboto, sans-serif;
    @apply text-base text-gray-700;
  }

  h1 {
    @apply py-4 text-4xl text-gray-900;
  }

  h2 {
    @apply py-4 text-3xl text-gray-900;
  }

  h3 {
    @apply py-4 text-2xl;
  }

  h4 {
    @apply py-4 text-xl;
  }

  p {
    @apply py-4;
  }

  small {
    @apply text-sm block;
  }

  .base-transition {
    @apply transition duration-200 ease-in-out;
  }

  input {
    height: 37px;
  }

  .rounded-theme {
    border-radius: var(--border-radius);
  }

  footer {
    @apply py-1 px-4 bg-gray-400 border-t border-gray-500;
    @apply text-gray-600;
    @apply shadow-inner;
  }

  .sidebar {
    @apply h-screen w-4/5 pt-4 left-0 z-50 fixed;
    @apply bg-gray-800 text-white;
    @apply transform base-transition;
  }

  .sidebar.hide-sidebar {
    @apply -translate-x-full absolute;
    left: -100%;
  }
}

.outline-focus {
  @apply shadow-outline;
}

*:focus, button:focus, input:focus, a:focus  {
  outline: none !important;
  @apply outline-focus;
}

.text-time {
  @apply font-text-roboto-mono text-gray-400;
}

.text-time.success {
  @apply text-green-700;
}

.base-layout {
  @apply p-4 my-2 flex rounded-theme bg-white;
  @apply border-solid  border-gray-400 border-2;
}

/**
  Task Component Style
 */
.task-item {
  @apply base-layout;
  @apply base-transition;
}

.task-item:not(.disabled) {
  @apply shadow-sm;
}

.task-item-hover{ @apply border-gray-500; }

.task-item:not(.disabled):hover {
  @apply task-item-hover;
}

.task-item:not(.disabled):not(.active):hover {
  @apply shadow;
}

.task-item .task-item--icon {
  @apply text-5xl leading-10;
}

.task-item .task-item--body {
  @apply flex-1 px-4 flex-auto truncate;
  @apply leading-6;
}

.task-item .task-item--body .task-item--body--footer  {
  @apply text-time relative;
}

.task-item .task-item--body-side {
  @apply flex flex-col justify-center flex-none;
}

.task-item.active {
  @apply shadow border-gray-500;
}

.task-item.active:hover {
  @apply shadow-lg border-gray-700;
}

.task-item.disabled {
  @apply bg-gray-100;
}

.task-item.done .icon > * ,
.task-item.disabled .icon > *,
.task-item.disabled .task-item--body,
.task-item.done .task-item--body--footer,
.task-item.disabled .task-item--body--footer{
  @apply text-gray-400;
}

.task-item.billable .task-item--body--footer, .task-item.active .timer {
  color: var(--green-success) !important;
}

.task-item.active .timer {
  @apply absolute text-lg font-bold base-transition;
}
/**
  Icons for tasks
 */
.icon {
  @apply text-4xl leading-10 base-transition flex self-center ;
}

.icon.trello * {
  color: var(--trello-color);
}

.icon.jira * {
  color: var(--jira-color);
}

.icon-play-stop {
  @apply .icon cursor-pointer text-6xl;
  border-radius:50%;
}

.icon-play-stop.stop * {
  @apply animate-pulse;
  color: var(--stop-color);
}

.icon-play-stop.play * {
  @apply cursor-pointer;
  color: var(--play-color);
}

.icon-play-stop.stop:hover * {
  @apply animate-none;
  color: var(--stop-hover-color);
}
.icon-play-stop.play:hover * {
  color: var(--play-hover-color);
}

/**
panel
 */

.panel {
  @apply base-layout flex-col bg-white;
}

.panel--title {
  @apply text-xl mb-2 font-bold;
}

/**
  Index
 */
.btn {
  @apply py-2 px-4 rounded-theme shadow relative base-transition;
  @apply bg-white font-bold text-gray-600;
  @apply border-2 border-gray-600;
}
.btn-hover {
  @apply shadow-md border-gray-800 text-gray-800;
}
.btn:hover {
  @apply btn-hover;
}
.btn[disabled] {
  @apply text-gray-400 border-gray-400 cursor-default shadow-none;
}

.btn-primary {
  @apply bg-blue-500 border-blue-500 text-white;
}
.btn-primary-hover {
  @apply bg-blue-700 border-blue-700 text-white;
}
.btn-primary:hover {
  @apply btn-primary-hover;
}
.btn-primary[disabled] {
  @apply bg-gray-400 border-gray-400 text-white cursor-default shadow-none;
}

.btn-secondary {
  @apply border-blue-500 text-blue-500 border-2;
}
.btn-secondary-hover {
  @apply border-blue-700 text-blue-700;
}
.btn-secondary {
  @apply btn-secondary-hover;
}
.btn-secondary[disabled] {
  @apply text-gray-400 border-gray-400 cursor-default shadow-none;
}

.btn-secondary.busy,
.btn-secondary.busy:hover,
.btn-primary.busy,
.btn-primary.busy:hover,
.btn.busy,
.btn.busy:hover {
  @apply text-opacity-0;
}

.btn-busy {
  @apply absolute;
  left: 50%;
  transform: translateX(-50%);
}

/**
   link
 */
.link {
  @apply text-blue-400 cursor-pointer pr-2;
  border-radius: 5px;
}
.link-hover {
  @apply text-blue-600;
}
.link:hover {
  @apply link-hover;
}

.navlink {
  @apply inline-flex pl-12 pr-4 py-2 items-center w-full;
  @apply w-full;
  @apply transition-colors duration-150;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  font-weight: 300;
}

.navlink.active {
  @apply bg-gray-700 text-white;
}

.navlink.home.active {
  @apply bg-gray-700 text-blue-400;
}

.navlink:not(.active):hover {
  @apply text-white;
}

.navlink-home {
  @apply uppercase text-white font-bold rounded-theme p-2;
}

.search-field {
  @apply w-full pl-12 pr-6 text-sm rounded-theme border-0 bg-gray-700;
  @apply text-white;
}

.page-animation-renderer {
  opacity: 0;
}

@tailwind utilities;